################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/sanma2525.github.io/FileContentIndex/49f3b4b8-f672-423b-a404-03f21b52051b.vsidx
