body {
    position: fixed;
    margin: 0 0;
    background-color: white;
    font: 300;
    width: 100%;
    height: auto;
    font-family: 'Yu Mincho';
    font-size:12pt;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(-180px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
    }

    40%,100% {
        opacity: 1;
    }
}

@keyframes zoomIn_op {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: scale(1.5);
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes zoomOut_op {
    0% {
        font-size: 125pt;
        opacity: 0;
    }

    25% {
        opacity: 1;
        font-size: 75pt;
    }

    75% {
        opacity: 1;
        font-size: 75pt;
    }

    100% {
        font-size:100pt;
        opacity: 0;
    }
}

#indent{
    text-indent: 4em;
}

#OP {
    position: fixed;
    display: none;
}

    #OP.Playing {
        position: fixed;
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 10;
        z-index: 10;
    }

#OP_front {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 10;
}
#op_front.Playing {
    animation: zoomIn_op 3s linear forwards;
}
#op_text {
    position:fixed;
    width:100%;
    height:100%;
    margin-top:20%;
    text-align:center;
    font-size: 50pt;
    color:black;
    font-family:CLURBANTIK;
    z-index: 11;
}
    #op_text.Playing {
        animation: zoomOut_op 3s ease-in-out forwards;
    }

header {
    animation:slideIn 1s ease-in-out forwards;
    position: relative;
    display:flex;
    width: 100vw;
    height: 60px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 1) 20%, rgba(0, 0, 0, 1) 86%, rgba(255, 255, 255, 1) 86%);
    border: 2px solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
}

#text_header {
    display: inline;
    position: absolute;
    width: 100%;
    margin-left: 15px;
    font-family: CLURBANTIK;
    font-weight: 100;
    font-size: 30pt;
    color: ghostwhite;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0px 0px 20px black, 0 0 2px black,0 0 1px black;
}

#link {
    position: relative;
    margin-left: 80%;
    width: 20%;
    height: 60px;
    text-align: right;
}

.logos {
    position: relative;
    display: inline;
    width: auto;
    height: 70%;
    margin: 2% 15px 0 0;
}

#contents {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    animation: fadeIn 1s ease-in-out forwards;
    margin: 0 0 0 0;
    overflow:scroll;
}

#tabs{
    position:absolute;
    display:inline-block;
    margin: 2px 0 0 2px;
}

.tabs_button {
    background-color: white;
    border: 3px solid black;
    padding: 2px;
    border-radius: 4px 4px;
    font-size: 20pt;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    text-decoration: none;
}

#clock {
    position: absolute;
    right: 10px;
    width: auto;
    height: auto;
    padding: 0 4px 0 4px;
    font-size: 20pt;
    font-family: CLURBANTIK;
    border-radius: 10px 10px;
    color: ghostwhite;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0px 0px 20px black, 0 0 2px black,0 0 1px black;
}

#contents_title {
    position:relative;
    height:60px;
    width: fit-content; 
    font-size: 30pt;
    border: 3px solid black;
    border-radius: 10px 10px;
    margin: 80px 0 0 20%;
}

#contents_text {
    position: relative;
    height: auto;
    width: 50%;
    font-size: 11.5pt;
    border: 3px solid black;
    border-radius: 10px 10px;
    margin: 0 0 0 20%;
    padding: 0 10px 0 10px;
}

footer{
    position:fixed;
    bottom: 10px;
    left:10px;
    color: rgba(0,0,0,0.4);
}
